.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: rgb(79, 183, 79);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 5px;
}

.navbar li {
  margin: 7px 7px 5px 5px;
}

/* Stopwatch component */

.stopwatch {
  padding: 20px;
  margin: 25px 10px;
  border-bottom: 1px solid #dbc4c4;
}

 button {
  padding: 10px 25px;
  color: white;
  border-radius: 20px;
  border: none;
  margin: 25px 10px 10px 10px;
}

#start {
  background-color: rgb(53, 228, 56);
}

#stop {
  background-color: rgb(224, 79, 38);
}

#reset {
  background-color: rgb(39, 188, 238);
}

 button:hover {
  color: rgb(16, 15, 15);
}

#plus, #minus {
  font-size: 20px;
  color: rgb(109, 210, 116);
}

/* Workout Component */

.workout {
  margin: 25px 10px 10px 10px;
 text-align: center;
}

.workout button {
  padding: 10px 25px;
  color: white;
  border-radius: 20px;
  border: none;
  margin: 10px 10px 10px 10px;
  background-color: #f1356d;
}
.workout select {
  margin: 15px;
  padding: 7px 6px;
  border: 1px solid #f72525;
}


.timer{
  margin : 3rem 0;
  width: 100%;
  display: flex;
  height: 12%;
  justify-content: center;
  align-items: center;
}

.digits{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  color:  #afea9a;
}

.mili-sec{
  color:  #e42a2a;
}

/* Exercise  */

.exercise {
  background: #ececad;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.exercise h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: green;
}
.exercise p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.exercise span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.set {
  display: inline-flex;
  align-items: center;
}